@model IEnumerable<WebApplication.Models.Transaction>

<h2>История транзакций</h2>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Тип</th>
            <th>Описание</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Date</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Type</td>
                <td>@transaction.Description</td> 
            </tr>
        }
    </tbody>
</table>
